
<script src="./js/carrinho.js" defer></script>

<br>
<div id="carrinho-container">
  <h1>Sacola de Compras </h1>
  <br>
  
  <div id="itens_carrinho-container">
    <ul id="itens_carrinho">
      <!-- Itens do carrinho serão adicionados aqui -->
    </ul>
  </div>

  <p class="total">
    &nbsp;&nbsp;&nbsp;Quantidade: <span id="qtde_total">0</span>
    &nbsp;&nbsp;&nbsp;Total: R$ <span id="total_carrinho">0.0</span>
  </p>

  <div class="btns">
    <button id="limpar_carrinho">Limpar Carrinho</button>
    <button id="botao_comprar">Comprar</button>
  </div>

  <p id="mensagem_compra"></p>
</div>

</body>
</html>